<div class="row">
  <div class="col-sm-12 col-lg-12">
    <fieldset>
      <legend class='text-center'>Ignore Directories</legend>
      <app-stack-ignoreables [ignoreables]='stack.ignore_directories'></app-stack-ignoreables>
    </fieldset>
  </div>
  <div class="col-sm-12 col-lg-12">
    <fieldset>
      <legend class='text-center'>Ignore Files</legend>
      <app-stack-ignoreables [ignoreables]='stack.ignore_files'></app-stack-ignoreables>
    </fieldset>
  </div>

  <div class="col-sm-12 col-lg-4">
    <button class='btn btn-danger' (click)='delete()'>Delete</button>
  </div>
  <div class="col-sm-12 col-lg-4 text-center">
    <button class='btn btn-success btn-lg'>Exams</button>
  </div>
  <div class="col-sm-12 col-lg-4">
    <button
      clickLink='/stacks/{{stack._id}}/edit'
      class='float-right btn btn-warning'
    >Edit</button>
  </div>
</div>

