<div class="row">
  <div class="col-sm-12 col-lg-12">
    <fieldset>
      <legend class='text-center'>Ignore Directories</legend>
      <app-stack-ignoreables [ignoreables]='stack.ignore_directories'></app-stack-ignoreables>
    </fieldset>
  </div>
  <div class="col-sm-12 col-lg-12">
    <fieldset>
      <legend class='text-center'>Ignore Files</legend>
      <app-stack-ignoreables [ignoreables]='stack.ignore_files'></app-stack-ignoreables>
    </fieldset>
  </div>

  <div class="col-sm-12 col-lg-4">
    <button class='btn btn-danger' (click)='delete()'>Delete</button>
  </div>
  <div class="col-sm-12 col-lg-4 text-center">
    <button matButton class='btn btn-success btn-lg' routerLink='/submissions/exams'>Exams</button>
  </div>
  <div class="col-sm-12 col-lg-4">
    <button matButton [routerLink]='stack._id' class='float-right btn btn-warning'>Edit</button>
  </div>
</div>
