<div class="form-container">
  <app-form-panel text='locations' [pull]='true' [font]='40'>
    <form [formGroup]='form' novalidate>
      <app-form-panel text='city'>
        <mat-form-field class='form-control' [class.valid]='cityValid'>
          <input (focus)="cityFocus = true" (blur)="cityFocus = false" matInput type="text" formControlName='city' class='mat-input-underline'>
          <mat-placeholder *ngIf='cityInvalid'>
            <mat-icon>home</mat-icon>
            {{ cityPlaceHolderText }}
          </mat-placeholder>
          <mat-error *ngIf='cityControlRequired'>
            You must provide a city
          </mat-error>

          <mat-error *ngIf='cityControlMinLength'>
            city must be at least 3 characters
          </mat-error>
        </mat-form-field>
      </app-form-panel>

      <app-form-panel text='stacks'>
        <div class="form-group stacks-list">
          <app-location-stack-card class='list-group-item' [stacks]='stacks' formControlName='stacks'>
          </app-location-stack-card>
        </div>
      </app-form-panel>

      <app-form-panel text='instructors'>
        <div class="form-group instructors-list">
          <app-location-instructor-card class='list-group-item' [instructors]='instructors' formControlName='instructors'>
          </app-location-instructor-card>
        </div>
      </app-form-panel>

      <div class="location-form-actions">
        <button mat-raised-button color='primary' type="button" class="float-right" *ngIf="!exists" (click)="createLocation(form)"
          [disabled]='form.invalid'>
          Create Location
        </button>

        <button type="button" class="btn btn-warning float-right" *ngIf="exists" (click)="updateLocation(form)" [disabled]='form.untouched'>
          Update Location
        </button>
      </div>
    </form>

  </app-form-panel>
</div>
