<div class="location-form">
  <app-form-panel text='locations' [pull]='true' [font]='40'>
    <form [formGroup]='form' novalidate>
      <app-form-panel text='location'>
        <div class="form-group">
          <input type="text" formControlName='location' class='form-control' [class.error]='locationControlInvalid' placeholder='e.g. Seattle'>

          <div *ngIf='locationControlInvalid' class="alert alert-warning">
            <small>You must provide a
              <span>location</span>
            </small>
          </div>
        </div>
      </app-form-panel>

      <app-form-panel text='stacks'>
        <div class="form-group stacks-list">
          <app-location-stack-card class='list-group-item' [stacks]='stacks' formControlName='stacks'>
          </app-location-stack-card>
        </div>
      </app-form-panel>

      <app-form-panel text='instructors'>
        <div class="form-group instructors-list">
          <app-location-instructor-card class='list-group-item' [instructors]='instructors' formControlName='instructors'>
          </app-location-instructor-card>
        </div>
      </app-form-panel>

      <div class="location-form-actions">
        <button type="button" class="btn btn-primary float-right" *ngIf="!exists" (click)="createLocation(form)" [disabled]='form.invalid'>
          Create Location
        </button>

        <button type="button" class="btn btn-warning float-right" *ngIf="exists" (click)="updateLocation(form)" [disabled]='form.untouched'>
          Update Location
        </button>
      </div>
    </form>

  </app-form-panel>
</div>
