.text-on-panel {
  background: #fff none repeat scroll 0 0;
  height: auto;
  margin-left: 20px;
  margin-right: 20px;
  padding: 3px 5px;
  margin-top: -47px;
  border: 1px solid #337ab7;
  border-radius: 8px;
}

.panel {
  /* for text on panel */
  margin-top: 27px;
}

.panel-body {
  padding: 10px;
  padding-top: 30px;
}
