footer {
  position: fixed;
  height: 50px;
  background-color: rgb(112, 172, 172);
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
  margin-top: 20px;
}

.pre-footer {
  height: 50px;
  margin-top: 20px;
}
