<section>
  <app-form-panel text='students' [pull]='true' [font]='40'>
    <form [formGroup]='form' novalidate>
      <app-form-panel text='first name'>
        <mat-form-field class='form-control' [class.valid]='firstNameValid'>
          <input matInput name='first_name' type="text" formControlName='first_name'>

          <mat-placeholder *ngIf='firstNameInvalid'>
            First Name
          </mat-placeholder>
          <mat-error *ngIf='firstNameControlRequired'>
            You must provide a first name
          </mat-error>
        </mat-form-field>
      </app-form-panel>

      <app-form-panel text='last name'>
        <mat-form-field class="form-control" [class.valid]='lastNameValid'>
          <input matInput name='last_name' type="text" formControlName='last_name'>

          <mat-placeholder *ngIf='lastNameInvalid'>
            Last Name
          </mat-placeholder>
          <mat-error *ngIf='lastNameControlRequired'>
            You must provide a last name
          </mat-error>

        </mat-form-field>
      </app-form-panel>

      <app-form-panel text='email'>
        <mat-form-field class="form-control" [class.valid]='emailValid'>
          <input matInput name='email' type="text" formControlName='email'>
          <mat-placeholder *ngIf='emailInvalid'>
            <mat-icon>mail</mat-icon>
            Email
          </mat-placeholder>
          <mat-error *ngIf='emailControlRequired'>
            You must provide an email
          </mat-error>
        </mat-form-field>
      </app-form-panel>

      <app-form-panel text='location'>
        <mat-form-field class="form-control" [class.valid]='locationValid'>
          <mat-select name='location' placeholder='Location'>
            <mat-option *ngFor='let location of locations' [value]='location.id'>
              {{ location.city }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </app-form-panel>

      <div class="student-form-actions">
        <button mat-raised-button color='primary' type="button" class="float-right" *ngIf="!exists" (click)="createStudent(form)"
          [disabled]='form.invalid'>
          Create Location
        </button>

        <button type="button" class="btn btn-warning float-right" *ngIf="exists" (click)="updateStudent(form)" [disabled]='form.untouched'>
          Update Location
        </button>
      </div>

    </form>
  </app-form-panel>
</section>
