<header>
  <mat-toolbar class='nav' color='primary'>
    <mat-toolbar-row>
      <span class="navbar-brand" routerLink='home'>
        <img src="assets/images/impostor.png" alt="Detector">
      </span>



      <mat-menu #facilityMenu='matMenu'>
        <button routerLinkActive='active' mat-menu-item [matMenuTriggerFor]='locationsMenu'>Locations</button>
        <button routerLinkActive='active' mat-menu-item [matMenuTriggerFor]='studentsMenu'>Students</button>
      </mat-menu>

      <mat-menu #locationsMenu='matMenu'>
        <button routerLinkActive='active' mat-menu-item routerLink='/facilities/locations'>
          <mat-icon>location_city</mat-icon>
          Locations
        </button>
        <button routerLinkActive='active' mat-menu-item routerLink='/facilities/locations/new'>
          <mat-icon>room</mat-icon>
          New Location
        </button>
      </mat-menu>

      <mat-menu #studentsMenu='matMenu'>
        <button routerLinkActive='active' mat-menu-item routerLink='/facilities/students'>
          <mat-icon>wc</mat-icon>
          Students
        </button>
        <button routerLinkActive='active' mat-menu-item routerLink='/facilities/students/new'>
          <mat-icon>person_add</mat-icon>
          New Student
        </button>
      </mat-menu>

      <mat-menu #submissionMenu='matMenu'>
        <button routerLinkActive='active' mat-menu-item [matMenuTriggerFor]='examsMenu'>Exams</button>
        <button routerLinkActive='active' mat-menu-item [matMenuTriggerFor]='stacksMenu'>Stacks</button>
      </mat-menu>

      <mat-menu #examsMenu>
        <button routerLinkActive='active' mat-menu-item routerLink='/submissions/exams'>
          <mat-icon>assignment</mat-icon>
          Exams
        </button>
        <button routerLinkActive='active' mat-menu-item routerLink='/submissions/exams/new'>
          <mat-icon>event_note</mat-icon>
          New Exam
        </button>
      </mat-menu>

      <mat-menu #stacksMenu>
        <button routerLinkActive='active' mat-menu-item routerLink='/submissions/stacks'>
          <mat-icon>view_compact</mat-icon>
          Stacks
        </button>
        <button routerLinkActive='active' mat-menu-item routerLink='/submissions/stacks/new'>
          <mat-icon>filter_none</mat-icon>
          New Stack
        </button>
      </mat-menu>

      <button class='nav-menu-parent' routerLinkActive='active' mat-icon-button [matMenuTriggerFor]='facilityMenu'>Facilities</button>
      <button class='nav-menu-parent' routerLinkActive='active' mat-icon-button [matMenuTriggerFor]='submissionMenu'>Submissions</button>
      <span class="fill"></span>
      <button routerLinkActive='active' mat-icon-button routerLink='/auth'>Login</button>



    </mat-toolbar-row>

    <ng-container [ngTemplateOutlet]='subMenu'>
    </ng-container>
  </mat-toolbar>
</header>



<ng-template #subMenu let-menus='menus' *ngIf='menus'>
  <mat-toolbar-row>
    <span>{{ menus }}</span>
  </mat-toolbar-row>
</ng-template>






<!--

 <span class='nav-parent'>
    <span routerLinkActive='active'>
      <a routerLink='submissions'>Submissions</a>
    </span>
    <span routerLinkActive='active' #facility="routerLinkActive">
      <a routerLink='facilities'>Facilities</a>
      {{ subMenu.menus = ['string', 'something'] }}
      <span *ngIf='facility.isActive'>
        Active!
      </span>
    </span>

  </span>

  <span class="fill"></span>


  <span routerLinkActive='active'>
    <a routerLink='/auth'>Login</a>
  </span> -->
